.App {
  text-align: center;
}

.result {
  border: 2px solid;
  border-radius: 100px;
}

.button {
  color: rgb(29, 48, 99);
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}

.calc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn {
  background-color: rgb(172, 39, 57);
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}

.completed {
  background-color: rgb(25, 25, 143);
}
